dotenv .env
export PUBSUB_TOPIC=test-duplicate
export PUBSUB_SUBSCRIPTION=test-duplicate-subscription

# For local(Do not use in not-local env. e.g. GAE)
export GOOGLE_CLOUD_PROJECT=test-project
export PUBSUB_EMULATOR_HOST=localhost:8085
